:root {
    --squarePreviewColor: white;
    --squareSide: min(10vh, 10vw);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.communicationWrapper {
    display: flex;
    justify-content: space-between;
    width: calc(6 * var(--squareSide));
}

.board {
    display: grid;
    grid-template-columns: repeat(min(10vh, 10vw), 6);
    grid-template-rows: repeat(min(10vh, 10vw), 6);
}

.boardContainer {
    height: 100%;
    width: 100%;
}

.boardSquare:hover {
    background-image: radial-gradient(
        circle,
        var(--squarePreviewColor) 40%,
        rgba(0, 0, 0, 0) 10%
    );
}
