:root {
    --squarePreviewColor: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.communicationWrapper {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
}

.boardSquare:hover {
    background-image: radial-gradient(
        circle,
        var(--squarePreviewColor) 40%,
        rgba(0, 0, 0, 0) 10%
    );
}
